USE [DBADB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DBA_USP_UpdateStatsAndRecompile]
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Update statistics
    PRINT 'Updating statistics...';
    EXEC MARSPROD..sp_updatestats;  

    -- Step 2: Recompile all stored procedures in the current database
   DECLARE @DatabaseName NVARCHAR(100);
DECLARE @sql NVARCHAR(MAX);
 

DECLARE @Databases TABLE (DatabaseName NVARCHAR(100));
 

INSERT INTO @Databases (DatabaseName)
VALUES ('MARSPROD'); 
 

DECLARE db_cursor CURSOR FOR
SELECT DatabaseName FROM @Databases;
 
OPEN db_cursor;
FETCH NEXT FROM db_cursor INTO @DatabaseName;
 
WHILE @@FETCH_STATUS = 0
BEGIN
    
    SET @sql = '
        USE ' + QUOTENAME(@DatabaseName) + ';
        DECLARE @sp_name NVARCHAR(100);
        DECLARE cur CURSOR FOR
        SELECT name FROM sys.procedures;
        OPEN cur;
        FETCH NEXT FROM cur INTO @sp_name;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                EXEC sp_recompile @sp_name;
            END TRY
            BEGIN CATCH
                PRINT ''Skipping procedure '' + @sp_name + '' due to permission error.'';
            END CATCH;
            FETCH NEXT FROM cur INTO @sp_name;
        END;
        CLOSE cur;
        DEALLOCATE cur;';
    
    EXEC sp_executesql @sql;
 
    FETCH NEXT FROM db_cursor INTO @DatabaseName;
END
 PRINT 'Procedure completed successfully.';

CLOSE db_cursor;
DEALLOCATE db_cursor;
END